.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
  transform: rotate;
  animation: rotation 20s linear infinite;
}
