@import url(/blocks/resources/__logo-zone/resources__logo-zone.css);
@import url(/blocks/resources/__logo/resources__logo.css);

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 217px;
}
